# Environment variables (crcuial btw)
*.env
env/

# Cache
__pycache__/
*.pyc
**cache**

# Editor directories
*.ipynb_checkpoints*
.vscode/

# Reminders, formulas, tests
notes/
test.py

# Data files (might push to Kaggle later, but some are too large for GitHub)
*.json
*.parquet

# Raw files which are csv are downloaded by hand so they don't have a script

# Directory metadata
*.egg-info
