# Environment variables (crcuial btw)
*.env
env/

# Cache
__pycache__/
*.pyc
**cache**

# VSCode and Jupyter waste
*.ipynb_checkpoints*
.vscode/

# Reminders, formulas, tests
notes/
test.py
*.ipynb

# Data files (might push to Kaggle or HuggingFace datasets later)
models/
*.json
*.csv
*.parquet

# Raw files which are csv are downloaded by hand so they don't have a script

# Directory metadata & other stuff
*.egg-info
lightning_logs/
