# All Tachion requirements
# See the README for installation instructions.

# Note directly used but just for compatibility
numpy==1.26.4

# Misc
python-dotenv==1.0.0

# Backend
fastapi==0.104.1

# Models
torch==2.1.0

# Data Handling
pandas==2.1.0
pyarrow==14.0.0

# API
fredapi==0.5.1
yfinance==0.2.54

# Don't need, but might if I rewrite calls: 
# twelve-data
# python-binance
# oandapyV20

# To run .ipynb files (project doesn't need this but I do)
#ipykernel
